@import './_reset-styles.styl'
@import './_tokens.styl'

html
	font-family ffPrimary

body
	padding 0 10px

.header
	text-align center
	margin-top 100px
	&__title
		font-size 3rem
		color gray
		b
			color veryGrayBLue
		&--thin
			font-size 1.6rem
			color veryGrayBLue

.input
	display flex
	flex-direction column
	max-width 350px
	margin 0 auto
	&__text-area
		height 40px
		border-radius 40px
		border 1px solid paleBlue
		padding-left 30px
		margin-top 20px
		width 100%
		&.active
			border 1px solid lightRed
		&__error
			font-size 1.2rem
			margin 0
			margin-left 30px
			color lightRed
			display none
			&.active
				display block
	&__button
		height 40px
		border-radius 40px
		border none
		background-color blue
		color white
		font-weight fwNormal
		margin-top 10px
		cursor pointer
		&:hover
			background-color lighten(blue, 20%)
		&:active
			background-color darken(blue, 10%)

.image
	max-width 360px
	margin 50px auto

.footer
	text-align center
	margin 70px 0
	&__icons
		display flex
		justify-content center
		&__wrapper
			cursor pointer
			display flex
			align-items center
			justify-content center
			height 30px
			width 30px
			border 1px solid paleBlue
			border-radius 50%
			padding 7px
			margin 20px 10px
			&:hover
				transform scale(1.05)
			& > img
				width 100%
				height auto
	&__copyright
		color gray
		font-size 1.3rem

@media screen and (min-width: 990px)
	.header
		&__title
			font-size 4rem
			margin-bottom 0
	.input
		max-width 700px
		flex-direction row
		justify-content center
		margin-top 20px
		&__text-area
			margin-top 0
			&--wrapper
				width 70%
		&__button
			margin-top 0
			width 25%
			margin-left 10px

	.image
		max-width 600px